@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.react-datepicker {
  @apply border-none bg-white;
}

.react-datepicker__navigation {
  @apply absolute top-0.5;
}

.react-datepicker__navigation--previous {
  @apply left-4 w-8 h-8 rounded transition flex items-center justify-center hover:bg-transparent;
}

.react-datepicker__navigation--next {
  @apply right-4 w-8 h-8 rounded transition flex items-center justify-center hover:bg-transparent;
}

.react-datepicker__navigation-icon {
  position: relative;
  top: 1px;
  font-size: 20px;
  width: 0;
}

.react-datepicker__month-container {
  @apply flex flex-col bg-white;
}

.react-datepicker__navigation-icon--previous {
  @apply right-0.5;
}

.react-datepicker__navigation-icon--next {
  @apply -left-0.5;
}

.react-datepicker__header {
  @apply bg-white border-b-0 py-0;
}

.react-datepicker__current-month {
  @apply text-lg py-1 font-semibold text-primary;
}

.react-datepicker__month {
  @apply flex flex-col;
}

.react-datepicker__week {
  @apply flex justify-around;
}

.react-datepicker__day-names {
  @apply flex justify-around  uppercase font-medium text-center text-xs;
}

.react-datepicker__day-name {
  @apply w-8 h-8 flex items-center text-gray-400 font-semibold justify-center py-1 rounded-full;
}

.react-datepicker__day {
  @apply mb-1 w-10 h-7 flex items-center justify-center py-1 text-sm font-bold  text-gray-700 hover:bg-primary/30 hover:rounded-full;
}

.react-datepicker__day--disabled {
  @apply cursor-not-allowed opacity-40 hover:bg-transparent;
}

.react-datepicker__day--outside-month {
  @apply text-gray-300 opacity-0 cursor-default;
}

.react-datepicker__day--selected {
  @apply bg-primary text-white rounded-full hover:bg-primary;
}

.react-datepicker__day--keyboard-selected {
  @apply bg-transparent;
}

.react-datepicker__day--today {
  @apply font-bold;
}
